body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main{
    flex: 1 0 auto;
  }

/*header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}*/

  nav{
  	background-color:#17324e;
  }

  footer.page-footer{
  	background-color:#17324e;
  }

  .bold{
    font-weight: bold;
  }

/*  .content-view{
    position: relative;
  }*/

  .view-details{
    position: relative;
      right: 5%;
  }

  .margin-space{
    margin-top: 20px;
  }

  .tabs .tab a{
    color:#17324e;
  }
 
  .tabs .tab a:hover{
  color:#039be5;
  }

  .tabs .indicator{
    background-color:#17324e;
  }

  .section{
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .side-nav a.sidebarmenu{
    background-color:#311b92;
    color: #ffffff;
  }

  .btn-flat .hover-underline:hover{
    text-decoration: underline;
  }



  
